footer#footer
  p
    p
      p
        p
          p
            p
              p
                p
                  div(class='footer')
                    a(href='https://www.github.com/audstanley/pythonDataNode')
                      img(src='/public/img/gitLogo.png')
