footer#footer
  div(class='footer')
    div(class='to-the-right-n-vert-center')
      h5 Download on Github:
    a(href='https://www.github.com/audstanley/pythonDataNode')
      img(src='/public/img/gitLogo.png', style="width:48px;height:48px;")
