footer#footer
  p
    p
      p
        p
          p
            p
              p
                p
                  div(class='footer')
                    div(class='to-the-right-n-vert-center')
                      h6 Download on Github
                    a(href='https://www.github.com/audstanley/pythonDataNode')
                      img(src='/public/img/gitLogo.png')
