doctype html
html(lang='en')
  head
    title Jade
    script(type='text/javascript').
      foo = true;
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1 Ftp Section
    #container.col
      p This is a static folder
      p
        | This is a folder location 
        | That can serve up static files
        | and can be accessed with the 
        | direct file path.
