html
  head
    title Stanley's Uploads
    link(rel='stylesheet', type='text/css', href='/public/stylesheet/mystyle.css')
  body
    div(class='wrap')
      p
        h1 Upload something.
      p
      p
        h5 size max: 20Mb
      form(method="post",enctype="multipart/form-data",action="/")
        //p
          input(type="text",name="title",placeholder="title")
        p
          input(type="file",name="upl")
        p
          input(type="submit")
        p
          h6
            a(href='/uploads/') Uploaded
        p
          h6
            div(class='to-the-right') #{views} people want to upload shit.
      br
      include footer.pug
