doctype html
html(lang='en')
  head
    title Upload List
    link(rel='stylesheet', type='text/css', href='/public/stylesheet/mystyle.css')
  body
    div(class='wrap')
      h1 Uploads List:
        p Here are all the files that have been posted:
        div(class='to-the-right')
          h6 now dance
          div(class='card')
            img(src='/public/img/dance.gif', alt="HTML5 Icon" style="width:128px;height:128px;")
        h5
          mixin ref(href, name)
            li
              a(href='/uploads/' + href)= name
          each item in fileList.length ? fileList : ['No files have been uploaded.']
            +ref(item, item)
        h6
          a(href='/') main
        br
        br
        include footer.pug
